.container {
    max-width: 1200px;
    height: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(to right, #72db72, #d4e0d4);
}
.link {
    text-decoration: none;
    color : #026926;
    font-size: 24px;
}
.active {
    text-decoration: underline 5px solid#026926;
}