.iconsWrapper{
    display: flex;
    width: 90%;
    flex-direction: row;
    justify-content: space-around;
}
.socialLink{
    width: 20px;
    height: 20px;
}

.socialPicture{
    width: 100%;
    height: 100%;
}

    