.containerHowThisWork {
    width: 100%;
    max-width: 1280px;
    display: flex;
    flex-direction: column;
    margin: 50px auto;
;
}
.howThisWorkTitle {
    font-style: italic;
    font-weight: bold;
    font-size: 48px;
    line-height: 56px;
    color: #000000;
    margin-bottom: 100px;
    text-align: center;
}
.howThisWorkCard {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    gap: 43px;
}
.howThisWorkItems {
    width: 360px;
    height: 200px;
    background: #dcf5e2;
    opacity: 0.6;
    border-radius: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    margin-bottom: 100px;
}
.howThisWorkItems:last-child {
    margin-right: 0;
}
.howThisWorkImg {
    position: absolute;
    width: 100px;
    height: 100px;
    top: -50px;
    left: 70px;
}
.howThisWorkText {
    font-size: 28px;
    font-style: italic;
    padding-left: 35px;
    padding-right: 35px;
    color: #000000;
}

@media only screen and (max-width: 1200px) {
    .howThisWorkItems {
        margin-bottom: 100px;
    }
}

@media only screen and (max-width: 480px) {
    .howThisWorkItems {
        margin-right: 0;
    }
}