.HowItCosts__header{
    margin:20px 10px;
    text-align: center;
    font-size: 3.125rem;
    color: #344554;
    font-style: italic;
}
.HowItCosts {
   width: 100%;
   margin-top: 60px;
    margin-bottom: 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    border-radius:10px;
}



